---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% include head.html %}
    {% include head-custom.html %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body>
    {% include header.html %}
    <main class="page-content">
      <div class="wrap">
        {{ content }}
      </div>
    </main>
    {% include footer.html %}
    <script src="{{ '/assets/js/theme-toggle.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/tabs.js' | relative_url }}"></script>
  </body>
</html>
